* {
  scroll-behavior: smooth;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.lh_normal {
  line-height: normal;
}
.arrowAnimation {
  animation: arrowAnimat 2s infinite ease-in-out;
}
@keyframes arrowAnimat {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.linerBorder::before,
.linerBorder::after {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  background: linear-gradient(var(--angle),#50eed7 0%, #080d2d 30%, #080d2d 60%, #50eed7 100%);
  animation: rotate 5s linear infinite;
  border-radius: 25px;
}
@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
.bgHeroImg::after {
  background: linear-gradient(180deg, #50eed7 0%, #7becf3 100%);
}
.chooseBox {
  background: linear-gradient(180deg, #50eed7 0%, #7becf3 100%);
}
/* dashboard */
.bgData {
  background: linear-gradient(113deg, #151536 35.26%, #393969 182.89%);
}
/* background  */
.bg_no_current_orders {
  background: linear-gradient(113deg, #151536 35.26%, #393969 182.89%);
}
.bg_your_order {
  background-image: url("/assets/images/png/your_order_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.bg_redeem_all {
  background: linear-gradient(113deg, #151536 35.26%, #393969 182.89%);
}
.custom_scrollbar::-webkit-scrollbar {
  background-color: #fff !important;
  height: 4px;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #50eed7 !important;
  border-radius: 10px;
}
.select_none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.spin_about_img {
  animation: spinimg 8s linear infinite;
}
@keyframes spinimg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin_about_img_2 {
  animation: spinimg_2 8s linear infinite;
}
@keyframes spinimg_2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 490px) {
  .pb_64 {
    padding-bottom: 52px !important;
  }
}
/* range bar css */
table,
thead,
tbody,
tr {
  border: 0 !important;
}
tr:nth-child(even) {
  background: #212148;
}
/* range bar css  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.range-slider {
  position: relative;
  width: 100%;
  height: 14px;
  border-radius: 15px;
  background-color: #50eed7;
}
.range-slider .progress {
  position: absolute;
  left: 25%;
  right: 0%;
  height: 14px;
  border-radius: 15px;
  background: #2d5c70;
}
.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  pointer-events: none;
  background: none;
  outline: none;
}
.range-slider .range-min::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: white;
  width: 19px;
  height: 19px;
  margin-top: 2px;
  border-radius: 50%;
}
.range-slider .range-max::-webkit-slider-thumb {
  opacity: 0;
  pointer-events: none;
}
