* {
  scroll-behavior: smooth;
}
.lh_normal {
  line-height: normal;
}
.arrowAnimation {
  animation: arrowAnimat 2s infinite ease-in-out;
}
@keyframes arrowAnimat {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.linerBorder {
  background: linear-gradient(9deg, #080d2d 0%, #50eed7 190%);
}
.linerBorderSecond {
  background: linear-gradient(144deg, #080d2d 21%, #50eed7 160%);
}

.bgHeroImg::after {
  background: linear-gradient(180deg, #50eed7 0%, #7becf3 100%);
}
.chooseBox {
  opacity: 0.2;
  background: linear-gradient(180deg, #50eed7 0%, #7becf3 100%);
  filter: blur(0px);
}
/* dashboard */
.bgData {
  background: linear-gradient(113deg, #151536 35.26%, #393969 182.89%);
}
/* range */
/* input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 9px;
  background: #206e63;
  border-radius: 11px;
}
input[type="range"]::-moz-range-track {
  height: 7;
  background: #ccc;
  border-radius: 16px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #fff;
  width: 18px;
  height: 18px;
  box-shadow: -407px 0 0 400px #4fdcc7;
}
input[type="range"]::-moz-range-thumb {
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #fff;
  width: 18px;
  height: 18px;
  box-shadow: -407px 0 0 400px #4fdcc7;
} */
