.lh_normal {
  line-height: normal;
}

.linerBorder {
  background: linear-gradient(9deg, #080d2d 0%, #50eed7 190%);
}
.linerBorderSecond {
  background: linear-gradient(144deg, #080d2d 21%, #50eed7 160%);
}
.faqBg {
  background-image: url(../public/assets/images/png/FAQbg.png);
}
.currentBg {
  background: linear-gradient(349deg, #141436 -2.09%, #1e1f3e 120.28%);
}
.bgHeroImg::after {
  background: linear-gradient(180deg, #50eed7 0%, #7becf3 100%);
}
