
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./footer.css);
@import url(./helper.css);
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: interfacesFont;
  src: url("/assets/fonts/TTInterfaces-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: interfacesFont;
  src: url("/assets/fonts/TTInterfaces-DemiBold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #040426;
  font-family: interfacesFont;
}
.accordion {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.accordion-item.active .accordion-content {
  height: auto;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
@media (min-width: 820px) and (max-width: 991.98px) {
  .hero-section {
    min-height: calc(60vh - 115px) !important;
  }
  .animation {
    top: -130px !important;
  }
}
@media (min-width:1920px) {
  .rockat_img_2{
    bottom: -317px !important;
  }
}