@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./footer.css);
@import url(./helper.css);
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: tt-interfaces;
  src: url("./fonts/TTInterfaces-DemiBold.ttf");
  font-style: normal;
  font-weight: 600; 
}
@font-face {
  font-family: tt-interfaces;
  src: url("./fonts/TTInterfaces-Bold.ttf");
  font-style: normal;
  font-weight: 700; 
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #040426;
  font-family: "Montserrat", sans-serif !important;
  font-family: tt-interfaces !important;
}

.font-Montserrat {
  font-family: "Montserrat", sans-serif !important;
}
.accordion {
  transition: all 0.3s ease-in-out;
}
.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.accordion-item.active .accordion-content {
  height: auto;
  transition: height 0.3s ease-in-out;
}
@media (min-width: 820px) and (max-width: 991.98px) {
  .hero-section {
    min-height: calc(60vh - 115px) !important;
  }
  .animation {
    top: -130px !important;
  }
}
