@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./footer.css);
@import url(./helper.css);

/* TAILWIND CSS CLASSES */
@layer base {
  .hero-heading {
    @apply lg:tracking-[-1.16px] sm:tracking-[-0.84px]
     tracking-[-0.64px] sm:max-w-[360px] max-w-[290px]
      lg:max-w-[500px]  sm:w-full lg:leading-[60px]
       xl:leading-[68px] sm:leading-[54px] leading-[42px];
  }
  .hero-purchase-button {
    @apply hover:bg-transparent transition-all lg:max-w-[201px]
     min-w-[200px] w-full md:min-h-[55px] min-h-[50px] leading-[120%]
      border-[2px] border-cyan-green bg-[#163D51] rounded-[100px]
      font-Montserrat font-semibold text-2xl;
  }
  .hero-explore-products-button {
    @apply md:ms-5 leading-[120%] hover:bg-[#163D51]
     transition-all lg:max-w-[226px] xl:max-w-[271px] min-w-[200px] w-full
      md:min-h-[55px] min-h-[50px] border-[2px] border-white 
      bg-[#050829] hover:border-cyan-green rounded-[100px]
       font-Montserrat font-semibold text-2xl;
  }
  .hero-lottie {
    @apply pointer-events-none relative z-50 2xl:h-[500px] lg:mt-0
     md:mt-[-20px] sm:max-w-[400px] md:max-w-[370px]
     lg:max-w-[500px] mx-auto xl:h-[500px] xl:max-w-[600px] sm:mt-0 mt-12 xl:w-full;
  }
  .hero-button-lottie-main {
    @apply min-h-[460px] md:min-h-[250px] lg:min-h-[399px] xl:min-h-[499px] md:w-[44%]
     w-11/12 xl:w-9/12 lg:w-6/12 mx-auto sm:mt-7 md:mt-0 flex lg:flex-row flex-col
      justify-center  relative;
  }
  .current-main {
    @apply z-10 relative border-[1px] border-[#1F374F]
     lg:pb-6 lg:pt-14 sm:pt-8 pt-2 pb-[34px] ms-[-10px] me-[-10px] border-b-0;
  }
  .accordian-main {
    @apply mt-5 border-[2px] transition-opacity ease-in duration-300 border-cyan-green
     text-white bg-[#50EED733] rounded-2xl
     px-4 py-3 overflow-hidden w-full max-w-[655px] lg:max-w-[849px] mx-auto;
  }
  .accordian-heading {
    @apply w-full flex justify-between items-center cursor-pointer focus:outline-none font-Montserrat
     md:text-2xl sm:text-[17px] text-[15px] font-bold leading-[130%] mb-0 text-start;
  }
  .faq-main-heading {
    @apply text-center lg:text-6xl text-[28px] mx-auto text-white sm:max-w-full max-w-[245px] font-Montserrat
     font-bold leading-[121%] tracking-[-0.74px] sm:mb-12 mb-7;
  }
  .faq-right-img {
    @apply lg:top-[-15%] sm:top-[-10%] top-[-2%] end-[-10px] lg:end-[-6%] sm:end-[-1%] lg:h-[222px] lg:w-[223px] sm:w-[120px] w-[80px] rounded-[10000px] object-contain sm:h-[175px] h-[80px];
  }
  .faq-bottom-img {
    @apply bottom-[0px] start-[-4%] lg:h-[222px] lg:w-[223px]
     sm:w-[120px] w-[80px] rounded-[10000px] object-contain sm:h-[175px] h-[80px];
  }
  .faq-ring {
    @apply lg:top-[-9%] sm:top-[-8%] top-[-6%] end-[-7px] lg:end-[-3%] sm:end-[-5%] lg:h-[222px] lg:w-[223px] sm:w-[120px] sm:h-[175px] w-[80px] h-[80px];
  }
  .faq-torus {
    @apply bottom-[50px] sm:bottom-[-33px] start-[-1%] sm:start-[-9%] md:bottom-[-17px] md:start-[-70px] xl:bottom-[-10px] lg:bottom-[-20px]
     xl:start-[-6%] lg:start-[-8%] lg:h-[222px] lg:w-[223px] sm:w-[100px] sm:h-[175px] w-[40px] h-[40px];
  }
  .faq-main-div {
    @apply md:pt-24 lg:pt-28 sm:pt-20 pt-12 md:pb-[92px] lg:pb-48 pb-16 overflow-hidden relative;
  }
  .aboutus-about-top-img {
    @apply absolute left-[5%] lg:left-28 lg:top-[-10%] md:top-[-6%] top-[-4%]  text-3xl lg:w-[144px] md:w-[109px]
     lg:h-[122px] md:h-[92px] sm:w-[65px] sm:h-[55px] w-[55px] h-[45px] pointer-events-none;
  }
  .aboutus-para {
    @apply text-dark-gray leading-[157%] font-normal md:font-semibold lg:text-2xl text-[15px] text-center lg:max-w-[383px]
     sm:pt-2 pt-4 tracking-[-0.74px] sm:pb-0 md:text-center lg:text-start lg:mx-0;
  }
  .about-box-map-div {
    @apply flex lg:flex-nowrap justify-center flex-wrap gap-6 md:pb-20 lg:pb-[101px] 2xl:pb-[206px] pb-12 sm:mb-0 mt-5 md:mt-8
     lg:mt-9 lg:justify-between  min-h-[432px] lg:min-h-[214px];
  }
  .impulse-footer-li {
    @apply text-[#8888B1] font-Montserrat lg:text-xl text-[15px] font-medium pt-[9px] hover:text-white
     transition-all ease-in-out duration-200;
  }
  .mobile-nav-li {
    @apply font-semibold tracking-[-0.38px] font-Montserrat sm:text-[3vw] text-[4vw] hover:opacity-70 transition-all
     ease-in-out duration-200;
  }
  .mobile-nav-dashboard-button {
    @apply font-Montserrat max-w-[330px] w-full sm:w-[210px] sm:text-[3vw] text-[4vw] font-bold border-cyan-green
     border-[2px] rounded-full bg-[#163A4F] py-4 px-16 flex items-center justify-center hover:bg-transparent transition-all h-[55px];
  }
  .mobile-nav-overlay {
    @apply fixed px-4 items-center justify-center lg:hidden bg-[#040426] lg:z-[-1] top-0 h-full flex flex-col pb-4 pt-24 transition-all
     duration-200 ease-in z-[100] w-full sm:max-w-[100%];
  }
  .proxies-try-now-button {
    @apply w-full max-w-[193px] min-h-[55px] border-[2px] border-[#50EED7] bg-[#163D51] rounded-[100px] font-Montserrat font-semibold text-2xl
     sm:mt-12 mt-8 hover:bg-transparent transition-all duration-300 leading-[120%];
  }
  .proxies-graph-img {
    @apply absolute bottom-[-50px] md:bottom-[-120px] lg:bottom-[-170px] xl:bottom-[-240px] 2xl:bottom-[-270px] w-full 
    rockat_img_2 pointer-events-none;
  }

  /* ========================================== MEDIA QUERY ========================================== */
  @media (min-width: 2500px) {
    .proxies_rocket {
      @apply !right-[-490px] !bottom-[-170px] !w-[300px];
    }
    .proxies-graph-img {
      @apply !bottom-[-350px] !left-[230px] !w-[90%];
    }
    .aboutus-about-top-img {
      @apply !w-[114px] !left-[32rem];
    }
    .faq-ring,
    .faq-torus {
      @apply w-[322px] h-[322px];
    }
    .faq-right-img {
      @apply w-[262px] h-[322px];
    }
    .faq-torus {
      @apply bottom-[-80px] start-[-4%];
    }
    .faq_strips_image {
      @apply !-top-24 !left-[80px] !scale-[1.8];
    }
    .faq-main-div {
      @apply !bg-[length:100%_100%];
    }
  }
  @media (min-width: 1900px) {
    .proxies-graph-img {
      @apply bottom-[-316px];
    }
    .custom-margin-3xl {
      margin-bottom: 0px !important;
    }
    .rocket_image_01 {
      @apply !bottom-[200px] !right-[110px];
    }
    .proxies-rocketfire-img {
      @apply !bottom-[210px] !right-[145px];
    }
  }
  @media (min-width: 1280px) and (max-width: 1340px) {
    .rocket_graph_image01 {
      @apply min-w-[1430px] left-[-110px] bottom-[-240px];
    }
    .rocket_image_01 {
      @apply !bottom-[125px] !right-[-10px];
    }
    .rocket_image_fire_01 {
      @apply !bottom-[135px] !right-[30px];
    }
    .aboutus-about-top-img {
      @apply left-10;
    }
  }
  @media (min-width: 1024px) and (max-width: 1170px) {
    .rocket_graph_image01 {
      @apply min-w-[100%] left-[30px] bottom-[-170px];
    }
    /* .rocket_graph_image01 {
      @apply min-w-[1200px] left-[-90px] bottom-[-200px];
    } */
    .rocket_image_01 {
      @apply !bottom-[92px] !right-[-15px];
    }
    .rocket_image_fire_01 {
      @apply !bottom-[104px] !right-[20px];
    }
    .aboutus-about-top-img {
      @apply left-5;
    }
  }
  @media (min-width: 376px) and (max-width: 499.98px) {
    .proxies-graph-img {
      @apply bottom-[-65px];
    }
  }
  @media (min-width: 320px) and (max-width: 499.98px) {
    .rocket_image_01 {
      @apply !bottom-[38px] !right-[-48px];
    }
    .rocket_image_fire_01 {
      @apply !bottom-[32px] !right-[38px];
    }
  }
  /* ========================================== MEDIA QUERY ========================================== */
  .sign_out_button {
    @apply text-md text-white font-Montserrat font-semibold tracking-[-0.28px] mb-0 transition-all duration-200 ease-in-out;
  }

  .proxies-rocketfire-img {
    @apply absolute xl:bottom-[130px] lg:bottom-[153px] md:bottom-[79px] sm:bottom-[100px] bottom-[34px] xl:right-[120px] 
    lg:right-[101px] md:right-[101px] sm:right-[67px] right-[53px] lg:w-[99px] w-[21px] h-[30px];
  }
  .proxies-heading {
    @apply font-Montserrat text-[28px] lg:text-6xl font-bold leading-[30px]  mb-4 text-center lg:text-start;
  }
  .proxies-para {
    @apply font-semibold text-lg md:text-2xl leading-[157%] text-dark-gray max-w-[95%] mx-auto lg:mx-0 sm:max-w-[410px] text-center lg:text-start;
  }
  .proxies-map-key-div {
    @apply md:w-6/12  min-h-[121px] md:min-h-[142px] md:max-w-[353px] lg:max-w-[424px] sm:hover:border-cyan-green hover:shadow-2xl duration-300 ease-in-out border-[2px] border-[#505062]
      rounded-[20px] py-5 px-6 xl:pb-7 md:py-6;
  }
  .proxies-map-div {
    @apply flex lg:justify-between justify-center gap-6 lg:flex-nowrap lg:mt-12 md:mt-6 mt-9 relative z-20 min-h-[415px]
     md:min-h-[308px] lg:min-h-[160px] xl:min-h-[142px];
  }
  .whychooseus-abstract-img {
    @apply absolute xl:bottom-[-100px] lg:bottom-[-110px] sm:bottom-[-55px] bottom-[-45px] sm:right-[55px] right-[24px] z-20 lg:w-[183px] md:h-[110px]
     lg:h-[172px] md:w-[110px] w-[85px] h-[85px] pointer-events-none;
  }
  .whychooseus-abstract-img2 {
    @apply absolute xl:bottom-[-80px] lg:bottom-[-110px] sm:bottom-[-55px] bottom-[-35px] sm:right-[75px] lg:right-[105px] right-[24px] z-20 lg:w-[143px] md:h-[90px]
     lg:h-[142px] md:w-[90px] w-[75px] h-[75px] pointer-events-none;
  }
  .whychooseus-heading {
    @apply font-Montserrat md:text-[32px] text-[28px] text-white font-bold leading-[121%] text-center tracking-[-0.64px];
  }
  .whychooseus-map-heading-para-div {
    @apply text-white 2xl:max-w-[393px] lg:max-w-[380px] sm:min-h-[197px] min-h-[152px] sm:max-w-[330px] max-w-[328px]
     sm:hover:translate-y-[-10px] transition-all duration-200 ease-in-out mx-auto h-full lg:ps-[46px] lg:pe-[36px] lg:pt-[18px]
      lg:pb-[38px] px-6 pt-6 pb-[30px] rounded-[30px] border-[2px] border-cyan-green bg-[#204056];
  }
  .faq_strips_image {
    @apply top-[-3.5rem] left-[4rem] sm:-top-24 xl:-top-28 sm:left-24 scale-[3.3] sm:scale-[2] lg:scale-150;
  }
  .faq-strips_bottom_image {
    @apply hidden sm:block !-bottom-12 !top-[unset];
  }
  .amount-range-value-box {
    @apply bg-[#252550] text-white rounded-xl sm:w-[164px] w-[120px] text-start px-[18px] font-Montserrat font-medium text-[13px] py-[10px] placeholder:text-white focus-visible:outline-none;
  }
  .custom-dropdown-option-001 {
    @apply text-[14px] font-Montserrat font-semibold text-white py-1 mx-auto w-full border border-transparent hover:border-white rounded-[10px] text-center px-4 cursor-pointer transition-all duration-200 ease-in-out;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: interfacesFont;
  src: url("/assets/fonts/TTInterfaces-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: interfacesFont;
  src: url("/assets/fonts/TTInterfaces-DemiBold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #040426;
  font-family: interfacesFont;
}
.accordion {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.accordion-item.active .accordion-content {
  height: auto;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
/* DASHBOARD */
.dashboard_height {
  height: calc(100vh - 200px);
}
/* COLUMNS */
.your_order {
  -webkit-columns: 300px 3;
  -moz-columns: 300px 3;
  columns: 300px 3;
}
@media (min-width: 1600px) {
  .your_order {
    -webkit-columns: 356px 4;
    -moz-columns: 356px 4;
    columns: 356px 4;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .px_50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media (max-width: 1120px) {
  .px_3 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1024px) and (max-width: 1170px) {
  .text_14 {
    font-size: 14px !important;
  }
  .text_12 {
    font-size: 12px !important;
  }
}
@media (min-width: 820px) and (max-width: 991.98px) {
  .hero-section {
    min-height: calc(60vh - 115px) !important;
  }
  .animation {
    top: -130px !important;
  }
}
@media (min-width: 1920px) {
  .rockat_img_2 {
    bottom: -317px !important;
  }
}
.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 9px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4fdcc7),
    color-stop(50%, #4fdcc7),
    color-stop(50%, #3c3c6b),
    to(#3c3c6b)
  );
  background: -o-linear-gradient(
    left,
    #4fdcc7 0%,
    #4fdcc7 50%,
    #3c3c6b 50%,
    #3c3c6b 100%
  );
  background: linear-gradient(
    to right,
    #4fdcc7 0%,
    #4fdcc7 50%,
    #3c3c6b 50%,
    #3c3c6b 100%
  );
  outline: none;
  border-radius: 11px;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #3c3c6b;
  border: 1px solid #3c3c6b;
  border-radius: 50%;
  cursor: pointer;
}
.range-input-2 {
  -webkit-appearance: none;
  width: 100%;
  height: 9px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4fdcc7),
    color-stop(50%, #4fdcc7),
    color-stop(50%, #206f63),
    to(#206f63)
  );
  background: -o-linear-gradient(
    left,
    #4fdcc7 0%,
    #4fdcc7 50%,
    #206f63 50%,
    #206f63 100%
  );
  background: linear-gradient(
    to right,
    #4fdcc7 0%,
    #4fdcc7 50%,
    #206f63 50%,
    #206f63 100%
  );
  outline: none;
  border-radius: 11px;
}
.range-input-2::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
