.proxies_box {
  background: radial-gradient(41.85% 211.48% at 47.38% 79.56%, #50EED7 0%, rgba(80, 238, 215, 0) 100%)
  ;
}
.box_showdow{
  background: linear-gradient(180deg, #50EED7 0%, #7BECF3 100%);
}

 .back_to_top {
   animation: top-btn infinite linear 2s;
 }

 @keyframes top-btn {
   50% {
     transform: translateY(-10px);
   }
    100% {
      transform: translateY(0px);
    }
  }
@media (min-width:1620px) {
  .rocket_img {
bottom: -56% !important;
  }
  .aboutTop{
    left: 220px !important;
  }
}