.proxies_box {
  background: radial-gradient(
    41.85% 211.48% at 47.38% 79.56%,
    #50eed7 0%,
    rgba(80, 238, 215, 0) 100%
  );
}
.box_showdow {
  background: linear-gradient(180deg, #50eed7 0%, #7becf3 100%);
}
.bg_current {
border: 1px solid #4FDCC7;
background: linear-gradient(349deg, #141436 -2.09%, #1E1F3E 120.28%);


}
.back_to_top {
  animation: top-btn infinite linear 2s;
}
.rang_bar{
  background: linear-gradient(112.69deg, #151536 35.26%, #393969 182.89%);

}

@keyframes top-btn {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (min-width: 1620px) {
  .rocket_img {
    bottom: -56% !important;
  }
  .aboutTop {
    left: 220px !important;
  }
}


/* animation image css */
.hero_wave_height {
 height: 100vh;
}

.hero_wave {
  -webkit-mask-size: 100% 100%;
  -webkit-mask-clip: border-box;
  -webkit-mask-image: url("../public/assets/images/svg/Wave.svg");
  mask-size: 100% 100%;
  mask-clip: border-box;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  margin-top: 1.46em;
  position: relative;
  left: 0;
  overflow: hidden;
}

.grad_bg {
  background-image: conic-gradient(#1E1E42,
      #1E1E42 20%,
      #557cff 50%,
      #32d7ff 75%,
      #97fcff 100%);
  z-index: -1;
  filter: blur(20px);
  position: absolute;
  top: -364%;
  bottom: -364%;
  left: -200%;
  right: -200%;

  animation: gradient-bg 4s linear infinite;
}

@keyframes gradient-bg {
  100% {
    transform: translate3d(0px, 0px, 0px) rotate(360deg);
  }
}
